@use "./partials/global" as *;
@use "./partials/variables" as *;

// hero
.head-image {
  background-color: $background-third;
  background-image: url("../assets/images/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
  height: 31.25rem;
  width: 100%;
  display: flex;
}

/* main */
.head-title__parent {
  position: relative;
}
.head-title--border {
  border: 3px solid $highlight;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  text-align: center;
  vertical-align: middle;
  color: $background-first;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head-title {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.head-title-sz-bock {
  width: 15.625rem;
  height: 12.5rem;
}

h1,
h2,
h3,
.highlight,
.categories {
  text-align: center;
}

.categories,
h1 {
  background-color: $charcoal;
}
.categories__list {
  padding: 0.5em;
}
.navigation__item {
  color: $background-first;
}
.navigation__item--separator {
  padding-left: 1em;
  border-left: 4px solid $highlight;
}

.secondary-color {
  color: $background-first;
}

/*  odd/even colors for cections */
section:nth-of-type(even) {
  background-color: $charcoal-light;
}
section:nth-of-type(odd) {
  background-color: $background-second;
}
.section-menu {
  display: block;
  padding: 1.5em 0 1em 0;
}
.push--down {
  padding-bottom: 0.4rem;
}
.section-article__textblock {
  font-style: italic;
  width: 28em;
  /* centering the section-article */
  margin: auto;
  text-align: center;
}
